footer
    text-align: center
    background-color: black
    padding-top: 15px
    padding-bottom: 10px
    border-top: solid 2px
    border-image: linear-gradient(45deg, #ffffff, #ff0000 55%) 1
    // position: fixed
    // position: sticky
    position: absolute
    bottom: 0
    width: 100%
    opacity: 0.9
    p
        color: white
        font-size: 16px
        // font-family: Courier New, Courier, monospace
        font-family: poppins-medium
        font-family: forum
        font-size: 18px
        // font-size: 12px
        // text-transform: uppercase
        padding-top: 4px
        // text-shadow: 0px 2px 9px #ffffff

// footer:hover
//     border-image: linear-gradient(45deg, #ff0000, #ffffff 55%) 1